.search-bar {
  position: relative;
  width: 200px;
}

input {
  width: 100%;
}

.search-results {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
}

.search-results div {
  padding: 10px;
}

.search-results div:hover {
  background: #f0f0f0;
}

.map-container {
  height: 600px;
  width: 100%;
}